In [12]:
#importing libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [13]:
#loading data

df = pd.read_csv('tn.movie_budgets.csv')

In [14]:
#dataset exploration
df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [15]:
df.tail()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

The data information shows that there are no missing values.

In [17]:
#changing all the currency values from objects to float

currency_cols = ['production_budget','domestic_gross','worldwide_gross']
for x in currency_cols:
    df[x] = df[x].astype(str).replace({'\$':'',',':''},regex = True)
    df[x] = df[x].astype(float)
    df[x] = df[x].round(0).astype(int)
df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000,760507625,-2147483648
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

In [18]:
#check for duplicates

df.duplicated().sum()

0

There are no duplicated entries

In [19]:
#dropping rows where gross revenue is 0

df = df[df['worldwide_gross'] != 0]

In [22]:
#checking the return on investment for each movie in terms of %
df['r_o_i'] = (((df['worldwide_gross'] - df['production_budget'])/df['production_budget'])*100).astype(int)
df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,r_o_i
5745,46,"Jun 30, 1972",Deep Throat,25000,45000000,45000000,179900
5613,14,"Mar 21, 1980",Mad Max,200000,8750000,99750000,49775
5492,93,"Sep 25, 2009",Paranormal Activity,450000,107918810,194183034,43051
5679,80,"Jul 10, 2015",The Gallows,100000,22764410,41656474,41556
5406,7,"Jul 14, 1999",The Blair Witch Project,600000,140539099,248300000,41283
...,...,...,...,...,...,...,...
5335,36,"Nov 21, 2014",Food Chains,913000,0,176,-99
2152,53,"Aug 24, 1997",The Grimm Brothers' Snow White,26000000,5000,5000,-99
3818,19,"May 8, 2015",Skin Trade,9000000,1242,1242,-99
4081,82,"May 21, 2010",Perrierâs Bounty,6600000,828,828,-99
5302,3,"Dec 11, 2015",American Hero,1000000,0,26,-99

In [26]:
#sorting data from the highest return on investment
df = df.sort_values(by='r_o_i', ascending=False)
df.head(50)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,r_o_i
5745,46,"Jun 30, 1972",Deep Throat,25000,45000000,45000000,179900
5613,14,"Mar 21, 1980",Mad Max,200000,8750000,99750000,49775
5492,93,"Sep 25, 2009",Paranormal Activity,450000,107918810,194183034,43051
5679,80,"Jul 10, 2015",The Gallows,100000,22764410,41656474,41556
5406,7,"Jul 14, 1999",The Blair Witch Project,600000,140539099,248300000,41283
5709,10,"May 7, 2004",Super Size Me,65000,11529368,22233808,34105
5346,47,"Aug 13, 1942",Bambi,858000,102797000,268000000,31135
5773,74,"Feb 26, 1993",El Mariachi,7000,2040920,2041928,29070
5676,77,"Oct 1, 1968",Night of the Living Dead,114000,12087064,30087064,26292
5210,11,"Nov 21, 1976",Rocky,1000000,117235147,225000000,22400
5536,37,"Oct 17, 1978",Halloween,325000,47000000,70000000,21438
5715,16,"Aug 9, 1995",The Brothers McMullen,50000,10426506,10426506,20753
5665,66,"Oct 18, 1974",The Texas Chainsaw Massacre,140000,26572439,26572439,18880
5372,73,"Aug 11, 1973",American Graffiti,777000,115000000,140000000,17918
5781,82,"Aug 5, 2005",My Date With Drew,1100,181041,181041,16358
5656,57,"May 16, 2007",Once,150000,9445857,23323631,15449
5742,43,"Oct 19, 1994",Clerks,27000,3073428,3894240,14323
5612,13,"Jul 25, 1969",The Stewardesses,200000,13500000,25000000,12400
5117,18,"Dec 21, 1937",Snow White and the Seven Dwarfs,1488000,184925486,184925486,12327
5357,58,"Jan 1, 1971",Billy Jack,800000,98000000,98000000,12150
5774,75,"Oct 8, 2004",Primer,7000,424760,841926,11927
5746,47,"Aug 1, 1997",In the Company of Men,25000,2883661,2883661,11434
5507,8,"Jun 11, 2004",Napoleon Dynamite,400000,44540956,46122713,11430
5430,31,"Aug 6, 2004",Open Water,500000,30500882,55518641,11003
5424,25,"May 9, 1980",Friday the 13th,550000,39754601,59754601,10764
5680,81,"Sep 29, 2006",Facing the Giants,100000,10178331,10243159,10143
5211,12,"Jan 6, 2012",The Devil Inside,1000000,53262945,101759490,10075
5655,56,"Jan 1, 1971",Sweet Sweetback's Baad Asssss Song,150000,15200000,15200000,10033
4567,68,"Dec 15, 1939",Gone with the Wind,3900000,198680470,390525192,9913
5677,78,"Feb 8, 1915",The Birth of a Nation,110000,10000000,11000000,9900
5568,69,"May 1, 1981",Graduation Day,250000,23894000,23894000,9457
4775,76,"Feb 15, 1950",Cinderella,2900000,85000000,263591415,8989
5606,7,"Nov 19, 1925",The Big Parade,245000,11000000,22000000,8879
5459,60,"Apr 23, 2009",Home,500000,15433,44793168,8858
5156,57,"Oct 29, 2004",Saw,1200000,55968727,103880027,8556
5525,26,"Apr 15, 1983",The Evil Dead,375000,2400000,29400000,7740
3525,26,"Jun 11, 1982",ET: The Extra-Terrestrial,10500000,435110554,792965326,7452
4247,48,"Apr 19, 2002",My Big Fat Greek Wedding,5000000,241438208,374890034,7397
4589,90,"Aug 13, 1997",The Full Monty,3500000,45950122,261249383,7364
3464,65,"May 25, 1977",Star Wars Ep. IV: A New Hope,11000000,460998007,786598007,7050
5681,82,"Jan 1, 1977",Eraserhead,100000,7000000,7014590,6914
5706,7,"Jul 10, 1998",Pi,68000,3221152,4678513,6780
5765,66,"Mar 9, 2001",Dayereh,10000,673780,673780,6637
5428,29,"Sep 26, 2008",Fireproof,500000,33456317,33473297,6594
5062,63,"Apr 1, 2011",Insidious,1500000,54009150,99870886,6558
4112,13,"Jun 16, 1978",Grease,6000000,181813770,387510179,6358
5213,14,"Apr 17, 2015",Unfriended,1000000,32789645,64364198,6336
5429,30,"Nov 15, 1974",Benji,500000,31559560,31559560,6211
5684,85,"Oct 9, 1998",The Mighty,100000,2652246,6121582,6021
5569,70,"Apr 4, 1997",Chasing Amy,250000,12006514,15155095,5962